body{
    background: url("https://i.ytimg.com/vi/NMCYIP1rmX8/maxresdefault.jpg") center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Oswald', sans-serif;
}           

.heading{
    width: 1132px;
    height: 80px;
    margin-left: 350px;
    margin-top: 175px;
    background:red;
}

.heading h1{
    position: absolute;
    margin-left: 430px;
    color: green;
    margin-top: 15px;
}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 1132px;
    height: 500px;
    background: rgba(28, 19, 19, 0.66);
    margin-left: 380px;
}

h2{
    margin-left: 120px;
    margin-top: 50px;
    color: darkred;
}

.first{
    margin-left: 60px;
}

.firstimage{
   margin-left: 0px;
   margin-top: 40px;
}

.second{
    margin-left: 50px;
}

.secondimage{
    margin-top: 40px;
}

.image{
    width: 125px;
    height: 125px;
    border-radius: 5px 5px 0px 0px;
    margin-left: 20px;
    margin-top: 25px;
}

figcaption {
    background-color: black;
    color: white;
    font-style: oblique;
    padding-left: 0px;
}